html, body, #root{
  height:100%;
}
.App {
  display:flex;
  flex-direction: column;
  background-color: #f4eade;
  height: 100%;
 

  
}

.componentcontainer {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;

}
.component {
  display:flex;
  flex-direction: column;
  align-items: center;
  height:100%;
}


.upban {
  display: flex;
  flex-direction: row;
  /* justify-content: space-around; */
  background-color: #556850;
}
.upbannerbutton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  height:50px;
  width:33%;

}




.botban {
  position: fixed;
  bottom: 0;
  width:100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #556850;
}

.botbannerbutton{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  height:50px;
  width:20%;
}



.buttonlink {
  text-decoration: none;
  color:black;
}
